body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#ffb3b3, #8b0000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app {
  width: 95%;
  max-width: 750px;
  height: 500px;
  display: flex;
  background: white;
  border: 3px solid #8b0000;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px #550000;
}


/* Lista de contatos */

.contatos {
  width: 180px;
  background: #8b0000;
  color: white;
  padding: 15px;
}


.contatos h2 {
  text-align: center;
}


.contato {
  background: #ff4d4d;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}


.contato:hover {
  background: #ff8080;
}


/* Bonequinho de status */

.avatar {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}


.avatar.online {
  background: #00ff00;
}


.avatar.ausente {
  background: #ffd000;
}


.avatar.ocupado {
  background: #ff0000;
}


.avatar.offline {
  background: #555;
}



/* Chat */

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.topo {
  background: linear-gradient(#ff4d4d, #8b0000);
  color: white;
  padding: 15px;
  text-align: center;
}


.topo h1 {
  margin: 0 0 10px;
}


#status {
  padding: 7px;
  border-radius: 8px;
}


#digitando {
  margin-top: 8px;
  font-size: 14px;
}


#mensagens {
  flex: 1;
  padding: 15px;
  background: #fff5f5;
  overflow-y: auto;
}


.mensagem {
  background: #ffd6d6;
  border-left: 5px solid #8b0000;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
}


.hora {
  font-size: 11px;
  text-align: right;
}


.visualizado {
  font-size: 12px;
  color: #8b0000;
  text-align: right;
}


.entrada {
  display: flex;
  padding: 10px;
  gap: 8px;
}


#texto {
  flex: 1;
  padding: 10px;
  border: 2px solid #ff4d4d;
  border-radius: 8px;
}


button {
  background: #8b0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}


button:hover {
  background: #5c0000;
}
